.card-wrapper-about {
    margin: 0 auto;
    margin-top: 10rem;
    width: 50%;
}

.about-p { width: 70%;}

.portrait {
    position: absolute;
    top: 30%;
    left: 60%;
    width:400px;
    height:400px;
    border-radius: 50%;
}