#graphics-card-01 {
    background-image: url(../img/lg/banners/COMP674_banner-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#graphics-card-02 {
    background-image: url(../img/lg/banners/COMP674_banner-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#graphics-card-03 {
    background-image: url(../img/lg/banners/COMP674_banner-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#graphics-card-04 {
    background-image: url(../img/lg/banners/COMP674_banner-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#graphics-card-05 {
    background-image: url(../img/lg/banners/COMP674_banner-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}