.card-container {
    &.graphics-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5%;
        width: 60%;
        margin: 0 auto;
    }
}

#graphics-card-01 {
    background-image: url(../img/lg/banners/COMP674_banner-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/ span 2;
    grid-row: 2;
}
#graphics-card-02 {
    background-image: url(../img/lg/banners/COMP674_banner-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3;
    grid-row: 1;
    visibility: hidden;
}
#graphics-card-03 {
    background-image: url(../img/lg/banners/COMP674_banner-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1;
    grid-row: 2;
    visibility: hidden;
}
#graphics-card-04 {
    background-image: url(../img/graphic-design/banner-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/ span 2;
    grid-row: 1;
}
#graphics-card-05 {
    background-image: url(../img/graphic-design/banner-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3;
    grid-row: 2;
    visibility: hidden;
}

.h3-graphics {
    position: absolute;
    top: -20%;
}

@media screen and (max-width: 600px) {
    .card-container.graphics-container {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin-top: 12rem;
    }
    #border-graphics {
        height: 25rem;
    }
    body > div.card-wrapper.portfolio-wrapper > div.info-card > p:nth-child(3) {
        padding: 1rem 1.5rem;
    }
}