@import 'utilities';
// NAV ==========

 /* Place the navbar at the bottom of the page, and make it stick */
 .navbar {
    background-color: $primary-color;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    display: flex;
    align-items: center;
    // margin: 0 -2rem;
    z-index: 100;
    a { /* Style the links inside the navigation bar */
      float: left;
      display: block;
      color: #fff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    /* Change the color of links on hover */
    a:hover:not(.social-icon-behance):not(.social-icon-linked):not(.social-icon-insta),
    a:focus:not(.social-icon-behance):not(.social-icon-linked):not(.social-icon-insta) {
      background-color: #fff;
      color: $primary-color;
    }
    /* Add a background color to the active link */
    a.active {
      background-color: $primary-color;
      color: #fff;
    }
    /* Hide the link that should open and close the navbar on small screens */
    .icon {
      display: none;
    } 
  }

  .social {
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 3rem;
    a {
      width: 8%;
      padding-right: 5%;
    }
  }

  .social-icon-behance {
    background-image: url(../img/icons/behance-outline.svg);
    background-repeat: no-repeat;
    height: 3rem;
    margin: 14px 16px;
    &:hover {
      background-image: url(../img/icons/behance-square-black.svg);
    }
  }
  .social-icon-linked {
    background-image: url(../img/icons/linkedin-outline.svg);
    background-repeat: no-repeat;
    height: 3rem;
    margin: 14px 16px;
    &:hover {
      background-image: url(../img/icons/linkedin-black.svg);
    }
  }
  .social-icon-insta {
    background-image: url(../img/icons/instagram-outline.svg);
    background-repeat: no-repeat;
    height: 3rem;
    margin: 14px 16px;
    &:hover {
      background-image: url(../img/icons/instagram-black.svg);
    }
  }

  // Dark Mode
  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -230px;
    width: 60px;
    height: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color:#fff;
    position: relative;
    margin-left:175px;
  }
  
  label:after {
    content: '';
    background: $primary-color;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
  }
  
  input:checked + label {
    background: #cddee7;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  
  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms!important;
    transition-delay: 0.125s!important;
  }