.portfolio-card {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: gray;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-top: .5rem;
    &:hover {
        transform: scale(1.02);
    }
    transition: all .3s;
    a {
        width: 100%;
        height: 200px;
        background-color: gray;
        border-radius: 10px;
        margin-bottom: 2rem;
    }
}

.project-link {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

h2 {
    background-size: 0.5s cubic-bezier(0.79, 0.01, 0.22, 0.99) 0s;
    background-position: 0s step-end 0.5s;
}

.h3-portfolio {
    position: absolute;
    top: -20%;
}

.card-wrapper {
    &.portfolio-wrapper {
        width: 60%;
        margin: 0 auto;
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
}

.card-container-portfolio {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#card-01 {
    background-image: url(../img/xs/graphics-xs.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-right: 2rem;
    flex-grow: 2;
}
#card-02 {
    background-image: url(../img/xs/code-xs.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

// SWAP IMAGES
@media screen and (min-width:600px) {
    #card-01 {
        background-image: url(../img/sm/graphics-sm.png);
        background-size: cover;
    }
    #card-02 {
        background-image: url(../img/sm/code-sm.png);
        background-size: cover;
    }
    #border-portfolio {
        height: 14rem;
    }
}  

@media screen and (max-width:768px) {
    .card-container-portfolio {
        flex-direction: column;
    }
    #card-01 {
        background-image: url(../img/md/graphics-md.png);
        background-size: cover;
    }
    #card-02 {
        background-image: url(../img/md/code-md.png);
        background-size: cover;
    }
    #border-portfolio {
        height: 14rem;
    }
}  

@media screen and (min-width:992px) {
  
}  

@media screen and (min-width:1200px) {
    #card-01 {
        background-image: url(../img/lg/graphics-lg.png);
        background-size: cover;
    }
    #card-02 {
        background-image: url(../img/lg/code-lg.png);
        background-size: cover;
    }
} 
