// FONTS, COLORS, TYPOGRAPHY RULES
$body-font: 'Merriweather', serif;
$headings-font: 'Nunito Sans', sans-serif;
$primary-color: #333;
$dblue: #1b365d;
$lblue: #006ba6;
$orange: #ef6534;
$lgrey: #75787b;

// TYPOGRAPHIC SCALE
$root: (
  fontSize: 18px,
  lineHeight: 27px
);
$base-font-size: 18px;
$base-line-height: 1.5rem;

$type-settings: (
    -1: (
        font-size: 0.75rem, //small text
        line-height: $base-line-height * .75
    ),
    0: (
        font-size: 1rem, // base text
        line-height: $base-line-height,
        margin-bottom: 1.5rem
    ),
    1: (
        font-size: 1.8888889, // h3
        line-height: 3rem,
        margin-top: 1.5rem,
        margin-bottom: 1.5rem
    ),
    2: (
        font-size: 3.5rem, // h2
        line-height: 4.5rem,
        margin-top: 1.5rem,
        margin-bottom: 1.5rem
    ),
    3: (
        font-size: 6.6111111rem, //h1
        line-height: 6.5rem,
        margin-top: 1.5rem,
        margin-bottom: 3rem
    )
);

$type-scale: (
  -1: 0.75rem,  // small text
  0: 1rem,      // body text
  1: 1.61111rem,  // h3
  2: 3.5rem,   // h2
  3: 6.6111111rem // h1
);
$line-heights: (
  -1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: 4.5rem,
  3: 6.5rem
);

@function type-scale($level) {
    @return map-get(
      map-get($type-settings, $level), 'font-size');
  }
  
  @function line-height($level) {
    @return map-get(
      map-get($type-settings, $level), 'line-height');
  }
  
  @mixin type-setting($level) {
    font-size: type-scale($level);
    line-height: line-height($level);
  }

h1 {
    font-family: $headings-font;
    font-weight: 900;
    text-transform: uppercase;
    @include type-setting(3);
    // font-size: 5rem;
    // line-height: 4.5rem;
    word-wrap: break-word;
    // margin: 2rem 0;
}
h2 {
    @include type-setting(2);
}
h3 {
    @include type-setting (1);
}
h2, h3, h4, h5 {
    font-family: $headings-font;
    font-weight: 700;
    margin: 1.2rem 0;
}
p {
    @include type-setting(0);
}

.subtitle {
    color: #000;
    font-weight: 300;
    font-style: italic;
    margin:0;
    @include type-setting (0);
}