#web-card-01 {
    background-image: url(../img/bacteria-tree.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}
#web-card-02 {
    background-image: url(../img/lg/banners/COMP674_banner-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#web-card-03 {
    background-image: url(../img/lg/banners/COMP674_banner-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}