@import 'base';
@import 'utilities';
@import 'about';
@import 'contact';
@import 'portfolio';
@import 'navigation';
@import 'graphics';
@import 'web';
@import 'logos';
@import url('https://fonts.googleapis.com/css?family=Merriweather|Nunito+Sans:400,700,900&display=swap');

// GENERAL STYLES ==========

html {
  overflow-x: hidden;
}

html:not(.navbar):not(.footer-bottom) {
    font-family: $body-font;
    font-weight: normal;
    color: $primary-color;
    background-color: #fff;
    margin: 0 auto;
    min-width: 330px;
    background: url(../img/pattern/memphis-colorful.png) repeat;
}

// Dark Mode
$bg-light: url('../img/pattern/memphis-colorful.png') repeat;
$bg-dark: url('../img/pattern/memphis-colorful-dark.png') repeat !important;

html[data-theme='dark'] {
//   background: var($bg-dark);
  transition: all 0.2s ease;
  background: $bg-dark;
  * {
    color: mintcream;
  }
  
}
html[data-theme='light'] {
  transition: all 0.2s ease;
  background: $bg-light;
}
.content-wrapper[data-theme='light'] {
  color: $primary-color;
  background-color: mintcream;
}
.content-wrapper[data-theme='dark'] {
  color: mintcream;
  background-color: $primary-color;
}
#myNavbar > a:nth-child(4) {
  display: flex;
  &:hover {
    background-color: $primary-color;
  }
  &:focus {
    background-color: $primary-color;
  }
}

.button {
  background-color: #fff;
  border: 2px #000 solid;
  color: #000;
  padding: .75rem;
  width: 30%;
  margin-left: 50%;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s ease-in-out;
  &:hover {
    background-color: #000;
    color: #f2f2f2;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
}

a.button, #myNavbar, .submit-button {
  font-family: $headings-font;
  text-transform: uppercase;
  letter-spacing: 5px;
}

// // NAV ==========

//  /* Place the navbar at the bottom of the page, and make it stick */
//  .navbar {
//     background-color: $dblue;
//     overflow: hidden;
//     position: fixed;
//     bottom: 0;
//     left:0;
//     width: 100%;
//     // margin: 0 -2rem;
//     z-index: 100;
//     a { /* Style the links inside the navigation bar */
//       float: left;
//       display: block;
//       color: #fff;
//       text-align: center;
//       padding: 14px 16px;
//       text-decoration: none;
//       font-size: 17px;
//     }
//     /* Change the color of links on hover */
//     a:hover {
//       background-color: #fff;
//       color: $dblue;
//     }
//     /* Add a background color to the active link */
//     a.active {
//       background-color: $orange;
//       color: #fff;
//     }
//     /* Hide the link that should open and close the navbar on small screens */
//     .icon {
//       display: none;
//     } 
//   }

#myNavbar > a > img {
  color: #fff;
  width: 10%;
}

// BODY ==========
body {
  // background-image: url(../img/pattern/memphis-colorful.png);
}
#title-01 {
  color: $primary-color
}
#title-02 {
  color: $primary-color;
}
.content-wrapper {
  background-color: white;
  width: 50%;
  padding: 1rem;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 25%;
}
.header-box {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
  margin-top: 2rem;
  a {
    background-color: #fff;
    border: 2px #000 solid;
    color: #000;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    height: 1rem;
    line-height: 1rem;
    &:hover {
      color: #fff;
      background-color: #000;
      transition: all 0.3s;
    }
  }
}

.header-box > a:nth-child(2) {
  margin-right: -50%;
}

.card-wrapper {
  position: relative;
  height: 15rem;
  width: 60%;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.info-card {
    display: flex;
    flex-direction: column;
    position: relative;
    p {
      padding: 1.5rem;
    }
    button {
      width: 40%;
      margin-left: 50%;
    }
}
.header-border {
  border: 2px solid black;
  width: 100%;
  height: 13rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.square-header {
    background-color: #fff;
    position: absolute;
    top: -24%;
    left: 1rem;
    padding: 0 1rem;
    display: inline;
    -webkit-transition: background-size 0.5s cubic-bezier(0.79, 0.01, 0.22, 0.99) 0s,background-position 0s step-end 0.5s;
    transition: background-size 0.5s cubic-bezier(0.79, 0.01, 0.22, 0.99) 0s,background-position 0s step-end 0.5s;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, transparent), color-stop(90%, black), to(black));
    background-image: linear-gradient(transparent 90%, black 90%, black 100%);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 0% 100%;
    &:hover {
        background-position-x: right;
        background-position-y: bottom;
        background-size: 100% 100%;
    }
}

.bg {
  background-image: url(../img/pattern/funky-lines.png);
  background-repeat: repeat;
  position: absolute;
  top: 5%;
  left: 10%;
  height: 100%;
  width: 100%;
  z-index: -10;
  opacity: 0.5;
}

h3 {
  line-height: 0.5;
  text-align: left;
  .h3-line {
      display: inline-block;
      position: relative;
  }
  & .h3-line:after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 2px solid black;
      top: -10px;
      width: 120px;
      left: 100%;
      margin-left: 15px;
  }
}

.divider { 
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 6rem;
}

.img-slider {
  width: 60%;
  margin: 0 auto;
}

.slick-slide > img {
  margin: 0 auto;
}

footer {
  color: #fff;
  background-color: #222;
  margin-bottom:10rem;
  width: 100%;
  form {
    width: 100%;
    form > label > input {
      width: 100%;
    }
    input .submit-button {
      align-self: flex-end;
      width: 100%;
    }
  }
}

// BREAKPOINTS ==========
 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
 @media screen and (max-width: 600px) {
   h2 {
     line-height: 3.5rem;
   }
   .square-header {
     top: -32%;
   }
  .navbar a:not(:first-child), #switch {display: none;}
  .navbar {
    display: flex;
    justify-content: space-around;
    a {
      padding: 14px 8px;
    }
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
  body:not(.navbar) {
    max-width: 311px;
    margin: 0 auto;
  }
  .social {
    width: 100%;
    a {
      background-position: center;
      padding: 0;
    }
  }
  .content-wrapper {
    width: 90%;
    top: 0;
    left: 0;
    background-color: transparent;
  }
  .header-box > a:nth-child(2) {
      margin: 1rem;
    }
  div.header-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    a {
      margin: 1rem;
    }
    .subtitle {
      text-align: center;
    }
  }
  .card-wrapper.portfolio-wrapper {
    width: 90%;
    height: 18rem;
  }
  #border-portfolio {
    height: 18rem;
  }
  body > div.card-container-portfolio {
    width: 90%;
  }
  #card01, #card02 {
    margin: 2rem auto;
  }
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  // .navbar {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: start;
  // }
  .navbar.responsive {
    display: flex;
    flex-direction: column;
  }
  // .navbar.responsive a.icon {
  //   position: absolute;
  //   right: 0;
  //   bottom: 0;
  // }
  .navbar.responsive a {
    float: none;
    display: block;
  }
  .social a {
    width: 100%;
  }
} 


@media screen and (min-width:600px) {
  
}  

@media screen and (min-width:768px) {
  
}  

@media screen and (min-width:992px) {
  
}  

@media screen and (min-width:1200px) {
  
} 